.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(162, 204, 204);
}
form{
    
    width: 400px;
    height: 400px;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:10px;

}  
 label{
    width: 200px;
    margin: 10px;
    font-size: 30px;
    color: rgb(29, 91, 216);
    margin-left: 50px;
}
button{
    margin: 15px;
    width: 100px;
}
  

input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}
label:hover{
    cursor: pointer;
    color: rgb(168, 214, 214);
}

button:hover{
    cursor: pointer;
    color: rgb(165, 219, 219);
}